body {
  font-family: 'PT Sans', sans-serif !important;
}

.navbar-brand {
  padding: 3px 13px !important;
}

.navbar-text {
  margin-right: 13px !important;
  color: black !important;
  font-size: 26px !important;
  margin-top: 3px !important;
  margin-bottom: 10px !important;
  font-family: 'Knewave', cursive !important;
}

.search-bar {
  margin-bottom: 20px;
}

.yt-logo {
  background-image: url('./yt_logo.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 43rem;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.video-detail {
  border: 1px solid lightgray;
  padding: 10px;
}

.video-list-item {
  margin: 5px 0px !important;
  cursor: pointer;
}
